{% load static %}
{% load ebill_dict %}
<!DOCTYPE html>
<html lang="en">

{% include 'oauth/partials/header.html' %}

<body>
{% include 'oauth/partials/navigation.html' %}
<div class="container">
    <div class="row">
        <div class="col m12">
            <h5 class="blue-text text-darken-2 center-align"><img class="center"
                                                                  style="width: 4%;margin: auto;"
                                                                  src="{% static 'images/oauth_logo.png' %}"/>
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col m12">
            <div class="col s12 m12">
                {% include 'oauth/partials/callback_redirect.html' with auth_token=auth_token %}
            </div>
        </div>
    </div>
</div>
{% include 'oauth/partials/footer.html' %}

</body>
</html>
