{% load static %}
{% load ebill_dict %}
<!DOCTYPE html>
<html lang="en">

{% include 'oauth/partials/header.html' %}

<body>
{% include 'oauth/partials/navigation.html' %}
<div class="container">
    <div class="row">
        <div class="col m12">
            <h5 class="blue-text text-darken-2 center-align"><img class="center"
                                                                  style="width: 4%;margin: auto;"
                                                                  src="{% static 'images/oauth_logo.png' %}"/>
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col m12">
            <div class="col s12 m12">
                {% if user_role == 'wso2_user' %}
                    {% include 'oauth/partials/wso2_resource_view.html' %}
                {% elif user_role == 'facebook_user' %}
                    {% include 'oauth/partials/facebook_resource_view.html' %}
                {% else %}
                    {% include 'oauth/partials/resource_view.html' %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% include 'oauth/partials/footer.html' %}

</body>
</html>
