{% load static %}
<div style="height: 700px" class="">
    <div style="margin-bottom: 10%;max-height: 100%;text-align: center" class="card-content">
        <div class="card large teal accent-3" style="width: 50%;margin-left: 25%;">
            <div class="card-content white-text" style="height: 100%;">
                <span class="card-title blue-text">You can use the access token
                    received for request for the resource from your resource server</span>
            </div>
            <div class="card-action">
                <a class="waves-effect waves-light btn  light-blue accent-4" href="/">Good Luck!</a>
            </div>
        </div>
    </div>
</div>