{% load static %}
<footer class="page-footer z-depth-1">
    <div class="footer-copyright">
        <div class="container">
            © 2016 Knnect.com
            <a class="grey-text text-lighten-4 right" href="http://knnect.com">Home</a>
        </div>
    </div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

<script src='{% static "js/init.js" %}'></script>
