{% load static %}
<div style="height: 700px" class="card large hoverable">
    <div class="card-image">
        <h5 class="blue-text text-darken-2 center-align">
            Try it!
        </h5>
    </div>
    <div style="margin-bottom: 10%;max-height: 100%" class="card-content">
        {% include 'home/partials/basic_form.html' %}
        {% include 'home/partials/pre_submit_alearts.html' %}
    </div>
    <div class="card-action">
        <button id="try_step_one" class="btn waves-effect waves-teal modal-trigger" data-target="try_info">Try</button>
    </div>
</div>